<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create Order</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput type="number" placeholder="Distributor Id" formControlName="distributorId">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field appearance="fill">
                                      <mat-label>Order Date</mat-label>
                                      <input matInput [matDatepicker]="orderdate" formControlName="orderDate">
                                      <mat-hint>MM/DD/YYYY</mat-hint>
                                      <mat-datepicker-toggle matSuffix [for]="orderdate"></mat-datepicker-toggle>
                                      <mat-datepicker #orderdate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Create Order</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create Order Lines</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="orderLinesForm" (ngSubmit)="createOrderLine()">
                            <div formArrayName="orderLines">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" (click)="addOrderLine()">Click To Add Order Line</button>
                            </div>
                            <div *ngFor="let line of orderLines().controls; let i=index" [formGroupName]="i">
                              <div class="row">
                                <mat-form-field class="col-sm-2">
                                    <mat-label>Line No:</mat-label>
                                    <input matInput type="number"  placeholder="Line Number" formControlName="linenum">
                                </mat-form-field>
                                <mat-form-field class="col-sm-2">
                                    <mat-label>Order Id</mat-label>
                                    <input matInput type="number"  placeholder="Order Id" formControlName="orderId">
                                </mat-form-field>
                                <mat-form-field class="col-sm-2">
                                    <mat-label>Product Id</mat-label>
                                    <input matInput type="number"  placeholder="Product Id" formControlName="productId">
                                </mat-form-field>
                                <mat-form-field class="col-sm-2">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput type="number" placeholder="Quantity" formControlName="quantity">
                                </mat-form-field>
                                <mat-form-field class="col-sm-2">
                                    <mat-label>Price</mat-label>
                                    <input matInput type="number"  placeholder="Price" formControlName="price">
                                </mat-form-field>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary" (click)="removeOrderLine()"><i class="material-icons">delete</i></button>
                                  </div>
                              </div>
                            </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Create Order Lines</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  